img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

*{
font-family: 'Source Sans Pro', sans-serif;
}

.box{
	display: flex;
	justify-content: center;
}
nav{
	display: flex;
	justify-content: space-around;
}

h1, h2, h3, h4{
	display: flex;
	justify-content: center;
}

p{
	text-align: center;
}

.container{
	text-align: center;
}

ul{
	list-style-position: inside;
}