<!DOCTYPE html>
<html>
<head>
	<title>Landing page</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<div class="hero">

	<section class="title">
		<h1>Shopify powers ambitious entrepreneurs all over the world</h1>
	</section>
	<!-- <br> -->
	

	<section class="numbers">
		<div class="blah">
			<p class="boo">500,000</p>
			<p>BUSINESSES POWERED BY SHOPIFY</p>
		</div>
		<div class="blah">
			<p class="boo">1,000,000</p>
			<p>ACTIVE USERS</p>
		</div>
		<div class="blah">
			<p class="boo">$46B+</p>
			<p>SOLD ON SHOPIFY</p>
		</div>
	</section>
	
		
	<section class="pics">
		<div class="box" >
			<p>I am seriously happy about running our store on shopify. Powerful features and easy to set up, running an online store shouldn't be this much fun!</p>
			<img src="pic.1.jpeg">
			<h5>Tina Roth Eisenber</h5>
			<h6>Designer, Founder of Tatty</h6>
		</div>
		<div class="box2">
			<p>Shopify has helped me grow my business amazingly. It's been a pleasure because everything has been easier than i ever imagined</p>
			<img src="pic.2.jpeg">
			<h5>Corrine Anestopoulos</h5>
			<h6>Founder, BIKO Jewelry</h6>
		</div>
		<div class="box">
			<p>The best thing about Shopify is that it's made me not have to worry about anything that has to do with ecommerce</p>
			<img src="pic.3.jpeg">
			<h5>Chris Tsang</h5>
			<h6>Founder, Mindzai Toys</h6>
		</div>
	</section>

	</div>
</body>
</html>