

@media screen and (min-width: 800px) {
  body {
    background-color: lavender;
  }
}

@media only screen and (orientation: landscape) {
  body {
    background-color: lightblue;
  }
 }

nav{
	display: flex;
	justify-content: flex-end;
	

}

*{
	box-sizing: border-box;
}



.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img{
	width: 500px;
	height: 500px;
	margin: 10px;
	transition: all 1s;
}

img:hover{
	transform: scale(1.1);
}

h1{
	color: gold;
	font-family: 'Krona One', sans-serif;
}

p{
	font-family: 'Krona One', sans-serif;
	color: #801515
}