hero {
 background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  display: block;
  height: 100%;
  width: 100%;
}
.hero::after {
  content: "";
  background: url(office.jpeg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/*.toptext{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;}*/

.bottomtext{
    height: 500px;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}